html, body {
  height: 100%;
}

.header h2 {
  margin: auto;
  margin-top: 20px;
  color: white;
  padding: 21px 10px;
  text-decoration: underline;
  text-align: center;
}

.header {
  height: 10%;
  background-color: #2E4B8D;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

html .navbar {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  background-color: #2E4B8D;
  padding: 10px;
  border-radius: 10px;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #2E4B8D;
  height: 100%;
  border-radius: 10px;
  color: #f1f1f1;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

li a {
  color: #2E4B8D;
  padding: 8px 16px;
  text-align: center;
}

/* Change the link color on hover */

li a:hover {
  color: white;
  border-radius: 10px;
}

li a:active {
  color: white;
}